body {
    background-color: #121212;
    color: #F9FAF8;
    font-family: 'Book Antiqua';
    max-width: 75%;
    margin:auto;
    display:flex;
    flex-direction: column;
    padding: 20px;
    gap: 50px
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #332940;
    padding: 0px 15px;
    border-radius: 20px;
}

.logo {
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
    font-size: 30px;
    margin: 15px
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 15px
}

.info {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}

#pfp {
    height: 200px;
    width: auto;
    padding: 0px 30px;
    border-radius: 50%;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #332940;
    padding: 15px;
    border-radius: 15px;
}

#txt {
    font-size: 25px;
    color: #F9FAF8;
    margin: 0px
}

#subtxt {
    font-size: 15px;
    color: #E5E7EB;
    margin: 0px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: #332940;
    padding: 15px;
    border-radius: 15px;
}

#ski {
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 15px;
}

.set {
    display: flex;
    align-self: stretch;
    justify-content: space-evenly;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#icon {
    height: 50px;
    width: auto;
    padding: 0px 30px;
}

#cap {
    font-size: 18px;
    font-weight: bold;
}

.pro1, .pro2 {
    width: 75%;
    display: flex;
    align-items: center;
    background-color: #332940;
    padding: 15px;
    gap: 15px;
    border-radius: 15px;
}

.pro1 {
    align-self: flex-start;
}

.pro2 {
    align-self: flex-end;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#webp1 {
    height: 200px;
    width: auto;
    display: flex;
    border-radius: 10px;
}

#webp2 {
    width:200px;
    height:auto;
    display:flex;
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #332940;
    padding: 15px;
    border-radius: 20px;
}

a {
    color: #E5E7EB;
}