body {
    background-color: #121212;
    color: #F9FAF8;
    font-family: 'Book Antiqua';
    max-width: 75%;
    margin:auto;
    display:flex;
    flex-direction: column;
    padding: 20px;
    gap: 50px
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #332940;
    padding: 0px 15px;
    border-radius: 20px;
}

.logo {
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
    font-size: 30px;
    margin: 15px
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 15px
}

.info {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}

#pfp {
    height: 200px;
    width: auto;
    padding: 0px 30px;
    border-radius: 50%;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #332940;
    padding: 15px;
    border-radius: 15px;
}

.name {
    font-size: 25px;
    color: #F9FAF8;
    margin: 0px
}

.intro {
    font-size: 15px;
    color: #E5E7EB;
    margin: 0px;
}